<h1>{{title}}, an Angular 2 App</h1>
<p>Year: {{jvClassProps.year}}</p>

<!-- test ng class to add .displayme on click -->
<button (click)='displayData(true)' [class.displayme]='showData === true'>Show hidden text</button>
<button (click)='displayData(false)' [class.displayme]='showData === false'>Hide hidden text</button>

<div *ngIf='showData === true'><!-- test ng if directive -->
	<p>Text: {{jvClassProps.randomtext}}</p>
</div>

<div>
	<label>Two way data binding example (year): </label><input type="text" (keypress)='debug()' [(ngModel)]='jvClassProps.year' />
</div>

<hr>

<p>List from array:</p>
<ul *ngFor='#element of mylist'><!-- iterate array mylist from AppComponent & *ngIf to check if isset -->
	<li *ngIf='element.year'>Year: {{jvClassProps.year}}</li>
	<li *ngIf='element.randomtext'>Random text: {{jvClassProps.randomtext}}</li>
</ul>

